#home {
  padding-top: 118px;
}

.homeContainer {
  max-width: 1440px;
  padding-left: 110px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeContent {
  max-width: 590px;
}

.homeContent h1 {
  color: #211f54;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 73.984px;
  margin-bottom: 22px;
}

.homeContent p {
  color: #6e7191;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.006px;
}

.contentBottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 28px;
}

@media (max-width: 1000px) {
  .homeImg {
    display: none;
  }
  .homeContainer {
    padding-left: 20px;
    background-image: url(../../assets/images/home.png);
    background-repeat: no-repeat;
  }
  .homeContent {
    /* text-align: center; */
    margin: 0 auto;
    width: 100%;
    max-width: none;
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
  }

  .homeContent h1 {
    font-size: 48px;
  }
  .contentBottom {
    justify-content: center;
  }
}
